* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #548687;
  text-align: center;
  position: relative;
}

.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.game-container {
    /* Styles for your main game area */
    height: 95.9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#heading{
    font-size: 4rem;
    color: #563635;
    text-shadow: 1px 1px 2px pink;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #b0413e;
  background-color: #ffffc7;
}

.reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  cursor: pointer;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

.new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  cursor: pointer;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: black;
  font-size: 5vmin;
  margin-bottom: 20px;
}

.msg-container {
  height: 100vmin;
  width: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  position: absolute; /* or 'fixed' if you want it to stay regardless of scroll */
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.hide {
  display: none;
}